@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  background-color: greenyellow;
  width: 500px;
}

h3 {
  margin-bottom: 10px;
  margin-left: 10px;
}

h4 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}

.active {
  color: red;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
